<footer class="footer">
    <div class="footer-copyright">©️2017
    <a href="//github.com/stoneqi/hexo-theme-toki" class="link" target="_blank">Toki</a> is updated by Stoneqi based on Vevlins
    </div>
</footer>
